/* Dark mode colors. */
:root {
	--sl-color-accent-low: #460914;
	--sl-color-accent: #c5003e;
	--sl-color-accent-high: #feb1b5;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef0;
	--sl-color-gray-2: #c0c2c5;
	--sl-color-gray-3: #898b91;
	--sl-color-gray-4: #56585d;
	--sl-color-gray-5: #36383d;
	--sl-color-gray-6: #25272b;
	--sl-color-black: #17181a;
	--sl-mobile-toc-height: 0em;
	--sl-nav-pad-y: 0.5em;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ffc6c8;
	--sl-color-accent: #c8003f;
	--sl-color-accent-high: #63001b;
	--sl-color-white: #17181a;
	--sl-color-gray-1: #25272b;
	--sl-color-gray-2: #36383d;
	--sl-color-gray-3: #56585d;
	--sl-color-gray-4: #898b91;
	--sl-color-gray-5: #c0c2c5;
	--sl-color-gray-6: #eceef0;
	--sl-color-gray-7: #f6f6f7;
	--sl-color-black: #ffffff;
}